/*  blue #00909c

    grey #1b1b1b
*/
html, body {
	margin: 0;
	padding: 0;
}

.left {
	position: fixed;
	background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0, 144, 156, 0.85)),to(rgba(0, 144, 156, 0.85))), url(img/Profile%20Picture.jpg);
	background-image: linear-gradient(rgba(0, 144, 156, 0.85),rgba(0, 144, 156, 0.85)), url(img/Profile%20Picture.jpg);
	background-position: center;
	background-size: cover;
	height: 100vh;
}

#resume-sections {
	list-style: none;
}

.bullet {
	list-style: square;
}

#pharm-tech li {
}

.blue {
	color: #00909c;
}

#name {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.icon,
.icon:visited {
	font-size: 170%;
	display: inline-block;
	color: #000000;
	-webkit-transition: 5s color;
	-webkit-transition: 0.5s color;
	-webkit-transition: 0.4s color;
	transition: 0.4s color;
}

.icon:hover,
.icon:active {
	color: #fff;
}
