/*  blue #00909c

    grey #1b1b1b
*/

.left {
	position: fixed;
	background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0, 144, 156, 0.85)),to(rgba(0, 144, 156, 0.85))), url(img/Profile%20Picture.jpg);
	background-image: linear-gradient(rgba(0, 144, 156, 0.85),rgba(0, 144, 156, 0.85)), url(img/Profile%20Picture.jpg);
	background-position: center;
	background-size: cover;
	height: 100vh;
}